@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.App {
  margin-right: 0;
  font-family: "Montserrat", sans-serif;
  background-image: url(https://img.freepik.com/free-photo/gradient-blue-abstract-background-smooth-dark-blue-with-black-vignette-studio_1258-68067.jpg?w=740&t=st=1666627742~exp=1666628342~hmac=764a535af7326f77ff043feeb1aa94547c48ef82f527d44c61bd9c1d81d1968e);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  /* overflow-x: hidden; */
}
* {
  position: relative;
}

.App2 {
  margin-right: 0;
  font-family: "Montserrat", sans-serif;
  /* overflow-x: hidden; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
